@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models

<h3>Vendor Details Page</h3>
<hr />
<h4>@Model["vendor"].Name</h4>
<p>@Model["vendor"].Description</p>
<p>Phone: @Model["vendor"].Phone</p>
<br />
<h4>Your orders</h4>
@if (@Model["orders"].Count == 0)
{
  <h3>No active orders</h3>
}
<ul>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
</ul>
@if (@Model["orders"].Count > 0)
{
  <p>Click on each order to see it's details</p>
}
<br />
<button class="button-62" role="button"><a href='/vendors/@Model["vendor"].Id/orders/new'>New order</a></button>